
*.pyc

network0\.pkl

network1\.pkl

network2\.pkl

network3\.pkl

network_backup\.pkl

network_stable\.pkl

training_data\.txt

training_data_backup\.txt

test\.py

testing_data\.txt

testing_data_backup\.txt

\.idea/workspace\.xml

build/*

reversi\.so

\.idea/

*.swp

network_longtemp\.pkl

network_save\.pkl

network_shorttemp\.pkl

network_temp\.pkl

reversi\.so_backup

reversi\.py_backup

reversi\.c
